# Application Environment
APP_ENV=development

# Database Configuration
DB_HOST=localhost
DB_NAME=brunor90_anateje
DB_USER=root
DB_PASS=

# Security Keys
JWT_SECRET=your_secret_here
MIGRATE_WEB_TOKEN=your_token_here
